Source: ros-kinetic-futaba-serial-servo
Section: misc
Priority: extra
Maintainer: RT Corporation <shop@rt-net.jp>
Build-Depends: debhelper (>= 9.0.0), python-serial, ros-kinetic-catkin, ros-kinetic-rospy
Homepage: https://github.com/rt-net/RaspberryPiGibbon/wiki
Standards-Version: 3.9.2

Package: ros-kinetic-futaba-serial-servo
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-serial, ros-kinetic-raspigibbon-bringup, ros-kinetic-rospy
Description: The futaba_serial_servo package
